<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
<!--  <link rel="stylesheet" href="../static/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>E-Assessment Analysis & Authentication</title>
</head>

<body>

  <nav class="navbar navbar-toggleable navbar-inverse bg-inverse fixed-top">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="#" class="navbar-brand">E-Assessment Authentication</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#explore-head-section">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#share-head-section">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- HOME SECTION -->
  <header id="home-section">
    <div class="dark-overlay">
      <div class="home-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h3 class="display-4">THE <strong>Best Quiz Maker </strong></h3>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Custom Certificates & Exam branding
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Create Assistants to help manage your account
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Results automatically graded & viewable in real time
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-form text-center " style="border:none">
                <div class="card-block">
                  <h3>Sign Up Today</h3>
                  <p>Please fill out this form to register</p>
                  <form>
                    <div class="form-group">
                      <input type="text" name="username" class="form-control form-control-lg" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control form-control-lg"
                        placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password2" class="form-control form-control-lg"
                        placeholder="Confirm Password">
                    </div>
                    <input type="submit"  value="Submit" class="btn btn-outline-secondary btn-block">
                  </form>
                  <div class="col-12 forgot">
                    <p>
                        Already a member? <a href="login.html">Sign in</a>
                    </p>

                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- EXPLORE HEAD -->
  <section id="explore-head-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="py-5">
            <h1 class="display-4">Explore</h1>
            <p class="lead">E-examination is an integral and vital component of E-learning. Students’ exams in E-learning are remotely submitted without any monitoring from physical proctors. As a result students are able to easily cheat during e-exams
                 If succesfull this project will be able to provide anti-cheating methods to cope up with these problems</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- EXPLORE SECTION -->
  <section id="explore-section" class="bg-faded text-muted py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="./static/css/img/h3.jpeg" alt="" class="img-fluid mb-3 rounded-circle">
        </div>
        <div class="col-md-6">
          <h2>Create Custom Tests & Exams Online</h2>
          <p>Our software first recoginizes the candidate through face recognition if the identity of the candidate is authentic then the system will proceed to login, after that it ensures the candidate focuses on the test screen; monitors the light and other factors in the room; checks for suspicious objects and background voice activity; and watches the browser window to detect changes. Any of these will immediately red flag the test!.</p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vero ullam sed amet eaque eum, ut
              quidem dolores illum commodi inventore
            </div>
          </div>

          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vero ullam sed amet eaque eum, ut
              quidem dolores illum commodi inventore
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <script src="js/jquery.min.js"></script>-->
<!--  <script src="js/tether.min.js"></script>-->
<!--  <script src="js/bootstrap.min.js"></script>-->
</body>

</html>